<!-- Call Action start -->
<div class="call-action">
    <div class="container">
        <div class="banner-content col-lg-9 col-md-12">
            <h1 class="">
                An appeal for donation.
            </h1>
            <p class="pt-10 pb-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptatum quaerat hic
                deleniti
                sint magni.
            </p>
            <a href="#" class="primary-btn text-uppercase">Donate Now!</a>
        </div>
    </div>
</div>

<!-- Call to action End -->