<!-- Cards Starts -->

<section class="mycards container">
    <div class="card" style="width: 16rem;">
        <img src="./img/cards/magzine.jpg" class="card-img-top" alt="Image not loaded">
        <div class="card-body">
            <h5 class="card-title">Our Magzine</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, dolores!</p>
            <a href="/magzine" class="btn btn-primary">Visit Us!</a>
        </div>
    </div>

    <div class="card" style="width: 16rem;">
        <img src="./img/cards/darul-ifta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Darul Ifta</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <a href="darul-ifta" class="btn btn-primary">Visit Us!</a>
        </div>
    </div>

    <div class="card" style="width: 16rem;">
        <img src="./img/cards/donations.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Donations</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <a href="/donations" class="btn btn-primary">Visit Us!</a>
        </div>
    </div>

    <div class="card" style="width: 16rem;">
        <img src="./img/cards/gallery.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Gallery</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <a href="/gallery" class="btn btn-primary">Visit Us!</a>
        </div>
    </div>
</section>

<!-- Cards ends -->