<div class="alert alert-info" role="alert">
    <a href="img/books/almaarif.pdf" download>            
        <h6>Al-Maarif Risalah - Download <span class="badge bg-secondary">New</span></h6>
    </a>
</div>

<!-- Risalah added in nav bottom section -->