<!-- Start feature Area -->
<section class="feature-area pb-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Learn Online Courses</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Usage of the Internet is becoming more common due to rapid advancement
							of technology.
						</p>
						<a href="#">Join Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>No.1 of universities</h4>
					</div>
					<div class="desc-wrap">
						<p>
							For many of us, our very first experience of learning about the celestial bodies begins
							when we saw our first.
						</p>
						<a href="#">Join Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Huge Library</h4>
					</div>
					<div class="desc-wrap">
						<p>
							If you are a serious astronomy fanatic like a lot of us are, you can probably remember
							that one event.
						</p>
						<a href="#">Join Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End feature Area -->

<!-- Start info Area -->
<section class="info-area pb-120">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-lg-6 no-padding info-area-left">
				<img class="img-fluid" src="img/about-us.jpg" alt="">
			</div>
			<div class="col-lg-6 info-area-right">
				<h1>Who we are</h1>
				<p><b>Jamia Makkia Khazainul Irfan</b> founded by <b>Zaheer Alam Qadri</b> at Qadri Nagar, Bhojpur,
					Uttar Pradesh (India)
					is an English medium residential
					institute. The formal inauguration of Jamia Makkia Khazainul Irfan took place on August 28, 2018 and
					its first
					academic year began on
					September 1, 2018.
				</p>
				<br>
				<p>
					Jamia Makkia Khazainul Irfan empowers the students to attain knowledge of both Islamic and modern
					education; for
					which it has recently drafted a five-year course for completion of Hifz al-Quran along with
					matriculation (class 10) as
					per Jharkhand Board. The Academy also manages to provide the aspirant students with well-experienced
					UPSC guidelines. It
					will soon include a combined course of Alim-Fazil along with matriculation (class 10).
				</p>
				<br>
				<h3>Programmes of Study</h3>
				<br>
				<ul class="unordered-list">
					<li>
						<h6>A combined 5-year course of Deeniyat including Hifz al-Quran and Class 10.</h6><br>
					</li>
					<li>
						<h6>A combined course of Alimiyat and Fazilat along with matriculation (class 10) (Near future
							plan).</h6>

					</li>
				</ul>

			</div>
		</div>
	</div>
</section>
<!-- End info Area -->

<!-- Start objective Area -->
<section class="course-mission-area pb-120">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Goals to Achieve at Jamia Makkia Khazainul Irfan</h1>
					<p>The objectives for which Jamia Makkia Khazainul Irfan has been established are:</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 accordion-left">

				<!-- accordion 2 start-->
				<dl class="accordion">
					<dt>
						<a href="">Basics for Success</a>
					</dt>
					<dd>
						To impart basic religious and modern sciences to its students and then provide them with the
						required skills, guidelines
						and facilities for making them crack I.A.S, I.P.S, P.S.C, I.I.T and Medical examinations.

					</dd>
					<dt>
						<a href="">Passion
							for learning</a>
					</dt>
					<dd>
						To inculcate into their minds propensity for structuring plans for career development, attitude
						of enquiry and passion
						for learning.

					</dd>
					<dt>
						<a href="">Deen & Duniya</a>
					</dt>
					<dd>
						To encourage them to achieve inherent beauties of scientific, religious and technological
						disciplines associated with
						essential Deeniyat including Hifz al-Quran, Physics, Mathematics, Biology, Geography, History,
						Morality and basics of
						Computer etc.

					</dd>
					<dt>
						<a href="">Islamic environment</a>
					</dt>
					<dd>
						To furnish them with all the necessary facilities of studies, such as accommodation, security,
						food, laundry, regular
						counselling- all in Islamic environment.

					</dd>
				</dl>
				<!-- accordion 2 end-->
			</div>
			<div class="col-md-6 justify-content-center align-items-center d-flex relative">
				<div class="overlay overlay-bg"></div>
				<img class="img-fluid mx-auto" src="./img/success.jpg" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End Objectives Area -->

<!-- Start facilities area -->

<section class="course-mission-area pb-120">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Facilities at Jamia Makkia Khazainul Irfan</h1>
					<p>The objectives for which Jamia Makkia Khazainul Irfan has been established are:</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 accordion-left justify-content-center align-items-center d-flex relative">
				<!-- <div class="col-md-6 accordion-left video-right justify-content-center align-items-center d-flex relative">  video-right + jquery-->

				<div class="overlay overlay-bg"></div>
				<img class="img-fluid mx-auto" src="./img/facilities.jpg" alt="">


			</div>
			<div class="col-md-6 video-right justify-content-center align-items-center d-flex relative">

				<ul class="unordered-list">
					<li>
						Standard Infrastructure for effective learning and teaching.
					</li>
					<br>
					<li>
						Spacious and well-furnished classrooms.
					</li><br>
					<li>
						Special classes for counselling and academic excellence.
					</li><br>
					<li>
						Hostel: accommodation based on Islamic code and conduct, 24/7 security, hygienic and homemade
						food of good quality.
					</li><br>
					<li>
						Laundry-facility for all students.
					</li><br>
					<li>
						Provision of means of communication with parents/guardians twice a week.
					</li><br>
					<li>
						Power backup: 24/7 power supply.
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>

<!-- End Facilities area -->