<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Information
				</h1>
				<p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
					<a href="courses.html">Information</a>
				</p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start course-details Area -->
<section class="course-details-area pt-120">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 left-contents">
				<div class="main-image">
					<img class="img-fluid" src="./img/admission-cover.jpg" alt="">
				</div>
				<div class="jq-tab-wrapper" id="horizontalTab">
					<div class="jq-tab-menu">
						<div class="jq-tab-title active" data-tab="1">Admission Procedure</div>
						<div class="jq-tab-title" data-tab="2">Documents Required</div>
						<div class="jq-tab-title" data-tab="3">Hostel Menu</div>
						<div class="jq-tab-title" data-tab="4">Hostel Daily Routine</div>
						<div class="jq-tab-title" data-tab="5">Books</div>
					</div>
					<div class="jq-tab-content-wrapper">
						<div class="jq-tab-content active" data-tab="1">
							<ul class="unordered-list">
								<li>
									The academic year is from April to March.
								</li>
								<li>
									Forms will be available from 1st February.
								</li>
								<li>
									Admission will be closed on 30st May.
								</li>
								<li>
									The required age for admission to 5-year course is nine(9) to eleven(11).
								</li>
								<li>
									Admission process will be based on test and merit.
								</li>
								<li>
									Candidates should have knowledge of correct reading of the Quran, Basic English and
									Hindi.
								</li>
								<li>
									The curriculum of Jamia Makkia Khazainul Irfan is learner-centred. The daily
									activities and
									lessons are planned, taking into account
									the interests of the students as well as the necessities of the time. All efforts
									are made to produce mature individuals
									with scientific temper and necessary skills to deal with the rising challenges of a
									modern and competitive world.

								</li>
								<li>
									English education will be imparted according to CBSE pattern (and exam will be
									conducted through Jharkhand board).

								</li>
							</ul>
						</div>
						<div class="jq-tab-content" data-tab="2">
							<ul class="unordered-list">
								<li>Photo Copy of Birth Certificate and Adhar Card
									Copy of the last Report Card</li>
								<li>
									Copy of the last Report Card

								</li>
								<li>
									Transfer Certificate
								</li>
								<li>
									6 passport size photos of the student and one each of the parent.

								</li>
								<li>
									Documents must be submitted latest by 30th April, failing which admission will be
									cancelled and fee once paid will not
									be refunded.
								</li>
								<li>
									The selected students must bring 3 sets of kurta & pyjama, 2 pairs of shoes, 2 bed
									sheets, 1 box.

								</li>
								<li>
									<b>NOTE:</b>
									<ol class="ordered-list">
										<li>
											The students are not permitted to use any sort of Mobile during academic
											session. However, means of communication, if
											necessary, will be granted only by Jamia Makkia Khazainul Irfan.

										</li>
										<li>
											Special discount for ULAMA,HUFFAZ AND AEMMA
										</li>
									</ol>
								</li>
							</ul>
						</div>
						<div class="jq-tab-content" data-tab="3">
							<div class="section-top-border">
								<h3 class="mb-30">Menu</h3>
								<div class="progress-table-wrap">

									<table class="table table-striped">
										<thead>
											<tr>
												<th scope="col">Days</th>
												<th scope="col">After Fajr Prayer</th>
												<th scope="col">Breakfast</th>
												<th scope="col">Afternoon</th>
												<th scope="col">Night</th>

											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">Friday</th>
												<td class=""> Milk and Bread</td>
												<td class="">Chana</td>
												<td class="">Biryani</td>
												<td class="">Roti and Pulse</td>
											</tr>
											<tr>
												<th scope="row">Saturday</th>
												<td class=""> Milk and Bread</td>
												<td class="">Bread and Pulse</td>
												<td class="">Khichri</td>
												<td class="">Roti and Vegetables</td>
											</tr>
											<tr>
												<th scope="row">Sunday</th>
												<td> Milk and Bread</td>
												<td>Sujji and Halwa</td>
												<td>Rice and Vegetables</td>
												<td>Bread and Eggs</td>
											</tr>

											<tr>
												<th scope="row">Monday</th>
												<td class=""> Milk and Bread</td>
												<td class="">Chana</td>
												<td class="">Biryani</td>
												<td class="">Roti and Pulse</td>
											</tr>

											<tr>
												<th scope="row">Tuesday</th>
												<td> Milk and Bread</td>
												<td>Bread and Vegetables</td>
												<td>Rice and Vegetables</td>
												<td>Roti and Vegetables</td>
											</tr>

											<tr>
												<th scope="row">Wednesday</th>
												<td> Milk and Bread</td>
												<td>Sujji and Halwa</td>
												<td>Veg-Briyani</td>
												<td>Roti and Vegetables</td>
											</tr>

											<tr>
												<th scope="row">Thursday</th>
												<td> Milk and Bread</td>
												<td>Bread and Vegetables</td>
												<td>Rice and Vegetables</td>
												<td>Roti and Pulses</td>
											</tr>
										</tbody>
									</table>


								</div>
							</div>
						</div>
						<div class="jq-tab-content comment-wrap" data-tab="4">
							<div class="comments-area">
								<h4>Daily Routine</h4>
								<table class="table table-striped">
									<thead>
										<tr>
											<th scope="col">SL.No</th>
											<th scope="col">TIME</th>
											<th scope="col">WORKS</th>

										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td class="">After Fajr TO 9:00 A.M</td>
											<td class="">Hifz + Deeniyat</td>

										</tr>
										<tr>
											<th scope="row">2</th>
											<td class="">9:00 A.M To 9:30</td>
											<td class="">Breakfast</td>

										</tr>
										<tr>
											<th scope="row">3</th>
											<td>9:30 AM to 12:30 PM</td>
											<td>Schooling</td>

										</tr>

										<tr>
											<th scope="row">4</th>
											<td class="">12:30 PM to 12:50 PM</td>
											<td class="">Bathing</td>

										</tr>

										<tr>
											<th scope="row">5</th>
											<td>1:00 PM to 1:30 PM</td>
											<td>Zohr Prayer</td>

										</tr>

										<tr>
											<th scope="row">6</th>
											<td>1:30 PM to 2:00 PM</td>
											<td>Lunch</td>

										</tr>

										<tr>
											<th scope="row">7</th>
											<td>2:00 PM to 3:00 PM</td>
											<td>Rest</td>

										</tr>
										<tr>
											<th scope="row">8</th>
											<td>3:00 PM to 4:30 PM</td>
											<td>School home work and self-study</td>

										</tr>
										<tr>
											<th scope="row">9</th>
											<td>4:30 PM to 5:00 PM</td>
											<td>Asr prayer</td>

										</tr>
										<tr>
											<th scope="row">10</th>
											<td>5:00 PM to 6:00 PM</td>
											<td>Play time</td>

										</tr>
										<tr>
											<th scope="row">11</th>
											<td>6:30 PM to 8:00 PM</td>
											<td>Hifz al-Quran (memorization of the Quran)</td>

										</tr>
										<tr>
											<th scope="row">12</th>
											<td>8:00 PM to 8:30 PM</td>
											<td>Dinner</td>

										</tr>
										<tr>
											<th scope="row">13</th>
											<td>8:30 PM to 9:00 PM</td>
											<td>Isha prayer</td>

										</tr>
										<tr>
											<th scope="row">14</th>
											<td>09:00 PM to 10:00 PM</td>
											<td>Self-study</td>

										</tr>
									</tbody>
								</table>

							</div>

						</div>

						<!-- Books TAB Starts -->
						<div class="jq-tab-content" data-tab="5">

							<div class="comments-area mb-30">
								<h3> Books at Jamia Makkia Khazainul Irfan</h3>

								<section class="gallery-area section-gap">
									<div class="row">
										<div class="col-lg-7">
											<a href="img/books/book01.jpg" class="img-gal">
												<div class="single-imgs relative">
													<div class="overlay overlay-bg"></div>
													<div class="relative">
														<img class="img-fluid" src="img/books/book01.jpg" alt="">
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-5">
											<a href="img/books/book02.jpg" class="img-gal">
												<div class="single-imgs relative">
													<div class="overlay overlay-bg"></div>
													<div class="relative">
														<img class="img-fluid" src="img/books/book02.jpg" alt="">
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4">
											<a href="img/books/book03.jpg" class="img-gal">
												<div class="single-imgs relative">
													<div class="overlay overlay-bg"></div>
													<div class="relative">
														<img class="img-fluid" src="img/books/book03.jpg" alt="">
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4">
											<a href="img/books/book04.jpg" class="img-gal">
												<div class="single-imgs relative">
													<div class="overlay overlay-bg"></div>
													<div class="relative">
														<img class="img-fluid" src="img/books/book04.jpg" alt="">
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4">
											<a href="img/books/book05.jpg" class="img-gal">
												<div class="single-imgs relative">
													<div class="overlay overlay-bg"></div>
													<div class="relative">
														<img class="img-fluid" src="img/books/book05.jpg" alt="">
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4">
											<a href="img/books/book06.jpg" class="img-gal">
												<div class="single-imgs relative">
													<div class="overlay overlay-bg"></div>
													<div class="relative">
														<img class="img-fluid" src="img/books/book06.jpg" alt="">
													</div>
												</div>
											</a>
										</div>
										<div class="col-lg-4">
											<a href="img/books/book07.jpg" class="img-gal">
												<div class="single-imgs relative">
													<div class="overlay overlay-bg"></div>
													<div class="relative">
														<img class="img-fluid" src="img/books/book07.jpg" alt="">
													</div>
												</div>
											</a>
										</div>
									</div>

								</section>
								<!-- <div class="comment-list">
									<div class="single-comment single-reviews justify-content-between d-flex">
										<div class="user justify-content-between d-flex">
											<div class="thumb">
												<img src="img/blog/c4.jpg" alt="">
											</div>
											<div class="desc">
												<h5><a href="#">Maria Luna</a>
													<div class="star">
														<span class="fa fa-star checked"></span>
														<span class="fa fa-star checked"></span>
														<span class="fa fa-star checked"></span>
														<span class="fa fa-star"></span>
														<span class="fa fa-star"></span>
													</div>
												</h5>
												<p class="comment">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ut
													sed, dolorum asperiores perspiciatis provident, odit maxime
													doloremque aliquam.
												</p>
											</div>
										</div>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End course-details Area -->


<!-- Start Facilities Area -->
<section class="popular-courses-area section-gap courses-page">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Facilities at Jamia Makkia Khazainul Irfan</h1>
					<p></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="single-popular-carusel col-lg-3 col-md-6">
				<div class="thumb-wrap relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="img/p1.jpg" alt="">
					</div>
					<div class="meta d-flex justify-content-between">
						<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
						<h4>$150</h4>
					</div>
				</div>
				<div class="details">
					<a href="#">
						<h4>
							Hostel
						</h4>
					</a>
					<p>
						Accommodation based on Islamic code and conduct, 24/7 security, hygienic and homemade food of
						good quality.

					</p>
				</div>
			</div>
			<div class="single-popular-carusel col-lg-3 col-md-6">
				<div class="thumb-wrap relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="img/p2.jpg" alt="">
					</div>
					<div class="meta d-flex justify-content-between">
						<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
						<h4>$150</h4>
					</div>
				</div>
				<div class="details">
					<a href="#">
						<h4>
							Infrastructure
						</h4>
					</a>
					<p>
						Standard Infrastructure for effective learning and teaching.
					</p>
				</div>
			</div>
			<div class="single-popular-carusel col-lg-3 col-md-6">
				<div class="thumb-wrap relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="img/p3.jpg" alt="">
					</div>
					<div class="meta d-flex justify-content-between">
						<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
						<h4>$150</h4>
					</div>
				</div>
				<div class="details">
					<a href="#">
						<h4>
							Laundry
						</h4>
					</a>
					<p>
						Laundry-facility for all students.
					</p>
				</div>
			</div>
			<div class="single-popular-carusel col-lg-3 col-md-6">
				<div class="thumb-wrap relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="img/p4.jpg" alt="">
					</div>
					<div class="meta d-flex justify-content-between">
						<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
						<h4>$150</h4>
					</div>
				</div>
				<div class="details">
					<a href="#">
						<h4>
							Power backup
						</h4>
					</a>
					<p>
						Power backup: 24/7 power supply.
					</p>
				</div>
			</div>
			<a href="admission-form" class="primary-btn text-uppercase mx-auto">Apply Now</a>
		</div>
	</div>
</section>
<!-- End Facilities Area -->