<section class='event-details-area section-gap'>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">
                <%= messege_title %>
            </h4>
            <hr>
            <p>
                <%= messege_body %>
            </p>
            <hr>
            <a href="/admission-form" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</section>