<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h2 class="text-white">
                    Admission Form
                </h2>
                <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                    <a href="event-details.html"> Admission Form</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section class='event-details-area section-gap'>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Form fees not paid!</h4>
            <hr>
            <p>Kindly pay form fee Rs.50 first then fill admission form.</p>
            <hr>
            <a href="/admission-form" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</section>